{
  "LOCAL_PATH": "/images/",

  "UPYUN_ENABLE": false,
  "UPYUN_BUCKET_NAME": "bucket_name",
  "UPYUN_OPERATOR_NAME": "operator_name",
  "UPYUN_OPERATOR_PWD": "operator_pwd",
  "UPYUN_PATH": "/node_images/",

  "QINIU_ENABLE": false,
  "QINIU_BUCKET": "bucket",
  "QINIU_PATH": "/node_images/",
  "QINIU_ACCESS_KEY": "access_key",
  "QINIU_SECRET_KEY": "secret_key"
}
